body {
  background-color: #e5e5e5;
  font-family: latoregular;
  font-size: 0.875em; /* 14px */
  line-height: 1.7;
}


h1 {
  font-family: latoregular;
  font-size: 4.9286em; /* 69px/14px */
  line-height: 1.5;
}

h2 {
  font-family: latobold;
  font-size: 2.4285em;
  line-height: 1.16;
}

h3 {
  font-family: latobold;
  font-size: 1em;
  line-height: 1;
}

.subheader-h1 {
  font-size: 1.714em;
  font-family: georgia-italic;
  line-height: 1.45;
  color: rgb(96, 96, 96);
  letter-spacing: 1.4px;
}

.subheader-h2 {
  font-family: georgia-italic;
  font-size: 1.285em;
  letter-spacing: 1.04px;
  color: rgb(96, 96, 96);
}

#wrapper {
  margin: auto;
  width: 1024px;
  position: relative;
  background-color: #ffffff;
}
/*header*/
header {
  height: 83px;
  padding-top: 32px;
  position: relative;
}

#logo {
  display: inline-block;
  float: left;
  margin-left: 32px;
  margin-right: 32px;
  background-color: rgb(34, 34, 34);
  width: 38px;
  height: 42px;
  text-align: center;
  cursor: pointer;
}

#logo-text {
  color: #ffffff;
  margin-top: 9px;
}

nav {
  width: 557px;
  height: 83px;
  display: inline-block;
}

nav li {
  display: inline-block;
  float: left;
  height: 42px;
  padding-left: 31px;
  padding-right: 24px;
  font-size: 1em;
  font-family: latoregular;
  line-height: 1;
  letter-spacing: 0.2px;
}

nav li > a {
  display: block;
  margin-top: 13px;
}

.form-search {
  float: right;
  width: 192px;
  height: 39px;
  display: block;
  margin-right: 22px;
  margin-top: 5px;
}

.input-search {
  float: right;
  width: 0px;
  height: 39px;
  border: none;
  -webkit-transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out, padding 0.2s;
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out, padding 0.2s;
  font-family: latoitalic;
  font-size: 0.7857em;
  padding-left: 10px;
}

.input-search > input::-webkit-input-placeholder {
  font-family: 'latoitalic';
  font-size: 0.7857em;
  padding-left: 10px;
}

.input-search > input::-moz-placeholder {
  font-family: 'latoitalic';
  font-size: 0.7857em;
  padding-left: 10px;
}


.input-search > input:-ms-input-placeholder {
  font-family: 'latoitalic';
  font-size: 0.7857em;
  padding-left: 10px;
}

.search-butt {
  border: 1px solid rgb(149, 149, 149);
  display: inline-block;
  float: right;
  height: 39px;
  width: 40px;
  position: relative;
  background-color: #ffffff;
  cursor: pointer;
}

.active-butt {
  background-color: rgb(96, 96, 96);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.active-input {
  float: right;
  width: 151px;
  height: 39px;
  border: 1px solid rgb(149, 149, 149);
  border-right: none;
  color: #443533;
}

.search-butt > img {
  position: absolute;
  top: 10px;
  left: 10px;
}

#basket {
  display: inline-block;
  float: right;
  margin-right: 5%;
  margin-top: 1.4%;
}

.basket-img-big {
  display: none;
}

.basket-img-small {
  display: inline-block;
}
#basket a {
  text-decoration: none;
}

#basket a span {
  vertical-align: top;
  line-height: 15px;
  letter-spacing: 0.25px;
}

.hr-top {
  margin-top: -8px;
  width: 95%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  opacity: 0.102;
}
.hr-top-2{
  display: none;
}
/*header*/
/*shop-list*/
.breadcrumbs{
  margin-top: 37px;
    margin-left: 32px;
    font-family: latoregular;
    font-size: 0.8571em;
    line-height: 1;
    text-transform: uppercase;
}

.shop-list {
text-align: center;
margin-bottom: 77px;
}


.shop-list > h2 {
text-transform: uppercase;
margin-bottom: 77px;
margin-top: 52px;
letter-spacing: 3px;
font-family: latobold;
font-size: 2.4285em;
line-height: 1.16;
}

.goods {
height: 340px;
width: 1024px;
margin-bottom: 36px;
}

.goods .element:first-child {
margin-left: 32px;
}

.goods .element:last-child {
margin-right: 32px;
}

.element {
float: left;
display: inline-block;
margin-left: 45px;
margin-right: 47px;
}

.element img{
  width: 100%;
  height: 100%;
}

.img-link {
display: block;
width: 171px;
height: 255px;
outline: 1px solid #e5e5e5;
margin-bottom: 19px;
}

.h3-link{
display: block;
width: 100%;
height: 14px;
}

.element > h3 {
margin-top: 14px;
letter-spacing: 0.83px;
}

.element > span {
  display: block;
margin-top: 4px;
}

.section-hr{
width: 955px;
height: 1px;
background-color: rgb(0, 0, 0);
opacity: 0.102;
margin-bottom: 44px;
}
.last-one{
   margin-bottom: 44px;
}

.owl-next{
  position: absolute;
top: 0;
right: 0;
}

.owl-prev{
  position: absolute;
top: 0;
left: 0;

}

.owl-stage-outer{
  height: 120px;
}
/*shop-list*/
/*footer*/
footer {
  box-sizing: border-box;
  width: 100%;
  height: 243px;
  margin-top: 36px;
}

.footer-div{
  width: 100%;
  height: 243px;

  margin-bottom: 0px;
}

footer ul {
  display: inline-block;
  float: left;
  border-left: 1px solid rgb(241, 241, 241);
  border-left: 1px solid rgba(0, 0, 0, 0.102);
}

footer ul:first-child {
  border-left: none;
}

footer ul li a {
  font-size: 0.8571em;
  font-family: "latoregular";
  line-height: 2;
  letter-spacing: 0.78px;
}

footer ul li {
  font-size: 0.8571em;
  font-family: "latoregular";
  line-height: 2;
  letter-spacing: 0.6px;
}

.headings {
  font-size: 1em;
  font-family: "latobold";
  color: rgb(48, 48, 48);
  font-weight: bold;
  line-height: 2.5;
  letter-spacing: 1.98px;
  padding-top: 3px;
}

.collection {
  width: 114px;
  padding-left: 33px;
  padding-right: 129px;
}

.site {
  width: 114px;
  padding-left: 14px;
  padding-right: 114px;
}

.shop {
  width: 114px;
  padding-left: 14px;
  padding-right: 115px;
}

.social {
  width: 235px;
  padding-left: 14px;
  line-height: 26px;
  letter-spacing: -0.3px;
}

.icon {
  margin-top: 10px;
  padding-top: 8.5px;
  text-align: center;
  display: inline-block;
  width: 34px;
  height: 27px;
  border: 1px solid #606060;
}
/*footer*/
