@media screen and (min-width: 1439px) {
body{
  font-size: 1em;
}

  #wrapper {
    width: 1242px;
  }
  /*header*/

  nav li {
    padding-right: 22px;
  }

  #basket {
    margin-right: 67px;

  }

  #basket > span {
    line-height: 11px;
  }

  .hr-top {
    margin-top: -7px;
  }
  /*header*/
  /*headings*/
  #headings {
      text-align: center;
      margin-left: -2px;
      margin-top: 122px;
    }

  #headings > h1 {
    letter-spacing: 0.6px;
  }

  #headings > span {
      margin-top: 16px;
      margin-left: -4px;
      letter-spacing: 1.2px;
    }

  .white-button {
    width: 228px;
    margin: 66px auto;
  }
  /*headings*/
  /*preview-photo*/
  #preview-photo {
    height: 588px;
    width: 1174px;
  }

  .preview-photo-div{
    height: 590px;
    width: 1175px;
  }

  #preview-photo > div > a {
    width: 293.75px;
    height: 295px;
  }

  #preview-photo > div > a > div{
    width: 293.75px;
    height: 295px;
  }

  #preview-photo > div > a > div > h2{
      width: 90%;
      margin: 100px auto;
      margin-bottom: 0px;
      letter-spacing: 2px;
  }
  #preview-photo > div > a > div > span{
    letter-spacing: 1.4px;
  }
  /*preview-photo*/
  /*subscribe*/
  #subscribe {
    margin-top: 78px;
  }

  #subscribe > span {
    margin-left: 1px;
    letter-spacing: 0.9px;
  }

  #subscribe > h2 {
    letter-spacing: 2.65px;
    margin-left: 0px;
  }

  .form-subscribe {
    width: 595px;
    height: 54px;
    margin: 52px auto;
    margin-bottom: 75px;
  }

  /*subscribe*/
  /*footer*/
  footer {
    margin-top: 40px;
  }

  .collection {
    width: 165px;
    padding-left: 33px;
    padding-right: 129px;
  }

  .site {
    width: 164px;
    padding-left: 14px;
    padding-right: 114px;
  }

  .shop {
    width: 164px;
    padding-left: 14px;
    padding-right: 115px;
  }

  /*footer*/

}

@media screen and (max-width: 1023px) {
  #wrapper {
    width: 100%;
  }
  /*header*/
  #logo {
      margin-right: 2%;
    }

  nav {
    width: 41.395%;
  }

  nav li {
    padding-left: 5%;
    padding-right: 4.3%;
  }
  /*header*/
  /*headings*/
  #headings {
    margin-left: 0px;
    text-align: center;
  }

  .white-button {
    margin: 66px auto;
  }
  /*headings*/
  /*preview-photo*/
  #preview-photo {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .preview-photo-div{
    width: 100%;

  }
  #preview-photo > div > a {
    width: 25%;
    height: 49.6%;
  }

  #preview-photo > div > a > div{
    width: 100%;
    height: 100%;
  }
  /*preview-photo*/
  /*subscribe*/

  #subscribe > span {
    margin-left: 0px;
  }

  #subscribe > h2 {
    margin-left: 0px;
  }

  .form-subscribe {
    margin: 52px auto;
    margin-bottom: 74px;
  }
  /*subscribe*/
  /*footer*/
  .collection {
    width: 11.13%;
    padding-right: 7.9%;
  }

  .site {
    width: 14.13%;
    padding-right: 5.4%;
  }

  .shop {
    width: 15.13%;
    padding-right: 4.5%;
  }

  .social {
    width: 28.9%;
  }
  /*footer*/
}


@media screen and (max-width: 768px) {
  body{
    font-size: 0.75em;
  }

  #wrapper {
    width: 100%;
  }
  /*header*/
  header {
    height: 312px;
    padding-top: 21px;
    width: 100%;
  }

  #logo {
    margin-left: 20px;
    margin-right: 0px;
    width: 60px;
    height: 55px;
  }

  #logo-text {
    margin-top: 13px;
    font-size: 1.16666em;
  }


  nav {
    width: 100%;
    height: 236px;
    display: block;
    margin-top: 95px;
  }

  nav li {
    text-align: center;
    display: block;
    float: none;
    height: 59px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1;
    letter-spacing: 0.2px;
    font-size: 1.1666em;
  }

  nav li > a {
    display: inline;
    margin-top: 0px;
  }


  .form-search {
    margin-right: 15px;
margin-top: 10px;
  }

  #basket {

    margin-right: 2.6%;
    margin-top: 2.1%;
  }

.basket-img-big {
    display: inline-block;
  }

  .basket-img-small {
    display: none;
  }

  #basket a span {
    font-size: 1.1666em;
    letter-spacing: -0.1px;
    line-height: 19px;
  }

  .hr-top {
    margin-top: -21px;
  }

.hr-top-2{
  display: block;
  margin-top: -245px;
  width: 95%;
  height: 1px;
  background-color: rgb(0, 0, 0);
  opacity: 0.102;
}
  /*header*/
  /*headings*/
  #headings {
    margin-top: 32px;
    margin-left: 5px;
    text-align: center;
  }

  #headings > h1 {
    line-height: 1.15;
    letter-spacing: 0.7px;
  }

  #headings > span {
    width: 97%;
    display: block;
    margin-top: 28px;
    margin-left: 10px;
    letter-spacing: 1.25px;
  }

  .white-button {
    display: none;
  }
  /*headings*/
  /*preview-photo*/
  #preview-photo {
    width: 65.1%;
    height: 1840px;
    margin-left: 17.45%;
    margin-right: 17.45%;
    margin-top: 6.5%;
  }
  .preview-photo-div{
    width: 100%;
  }

  #preview-photo > div > #photo-1-link{
      height: 231px;
  }
  #preview-photo > div > #photo-2-link{
      height: 197px;
  }
  #preview-photo > div > #photo-3-link{
    height: 149px;
  }
  #preview-photo > div > #photo-4-link{
      height: 278px;
  }

  #preview-photo > div > a {
    width: 100%;
  }

  #preview-photo > div > a > div{
    width: 100%;
    height: 100%;
  }
    #preview-photo > div > a > div > h2{
      margin-top: 68px;

    }

    #preview-photo > div > a > div > span{
      letter-spacing: 2px;
    }
  /*preview-photo*/
  /*subscribe*/
  #subscribe {
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 77px;
  }

  #subscribe > span {
    margin-left: 1px;
    margin-top: 16px;
    line-height: 1.2;
    letter-spacing: 1px;
  }

  #subscribe > h2 {
    letter-spacing: 2.6px;
    margin-left: 2px;
  }

  .form-subscribe {
    margin: 58px auto;
    margin-bottom: 75px;
  }

  .form-subscribe input {
    width: 83%;
  }
  /*subscribe*/
  /*footer*/
  footer {
    box-sizing: border-box;
    width: 100%;
    height: 243px;
    margin-top: 15px;
  }

  .footer-div{
    width: 60%;
    height: 243px;
    margin: 24px auto;
    margin-bottom: 0px;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
  }

  footer ul {
    display: inline-block;
    float: left;
    border-left: none;
  }

  footer ul li a {

    font-family: "latoregular";
    line-height: 2;
    letter-spacing: 1px;
  }

  footer ul li {

    line-height: 1.23;
    letter-spacing: 0.45px;
    padding-top: 9px;
  }

  .headings {
    font-family: latobold;
    line-height: 2.5;
    letter-spacing: 3px;
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .collection {
    display: none;
  }

  .site {
    display: none;
  }

  .shop {
    display: none;
  }

  .social {
    width: 100%;
    padding-left: 0px;
    line-height: 26px;
    letter-spacing: -0.3px;
  }

.icons{
    padding-top: 27px;
  }

  .icon {
    margin-left: 6px;
    margin-right: 5px;
  }
  /*footer*/

}
@media screen and (max-width: 645px) {

  .form-subscribe {
  width: 371px;
  }

  .form-subscribe > input {
  width: 276px;
  }

}


@media screen and (max-width: 414px) {
body{
  font-size: 0.625em;
}

  /*header*/

#logo-text{
  font-size: 1.6em;
}

  .form-search {
    width: 93%;
    margin-right: 4%;
    margin-top: 3.7%;
  }

  .active-input {
    width: 335px;
  }

  #basket {

    margin-right: 4.5%;
    margin-top: 4.5%;
  }

  #basket > span {
    letter-spacing: 0.25px;
  }

  .hr-top {
    width: 90%;
  }

.hr-top-2{
  width: 90%;
}

nav {
    margin-top: 155px;
}
  /*header*/
/*headings*/
#headings {
    margin-top: 92px;
    margin-left: 1px;
  }

  #headings > span {
    width: 96%;
    margin-left: 8px;
  }

/*headings*/
/*preview-photo*/
#preview-photo {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 11.5%;
}

/*preview-photo*/
/*subscribe*/
#subscribe > h2 {
    letter-spacing: 3.1px;
    margin-left: 3px;
    line-height: 1.3;
  }

  #subscribe > span {
    margin-left: 4.5%;
    margin-top: 11px;
    line-height: 1.2;
    letter-spacing: 0.89px;
    width: 91%;
    margin-right: 4.5%;
}

  .form-subscribe > button {
    padding-bottom: 4px;
  }
/*subscribe*/
/*footer*/
.footer-div {
    width: 73%;
    margin-right: 13.5%;
    margin-left: 13.5%;
}
.icons {
    padding-top: 26px;
}
/*footer*/
}

@media screen and (max-width: 413px) {

  .form-search {
    width: 93%;
    margin-right: 4%;
    margin-top: 3.7%;
  }

  .active-input {
    width: 83%;
  }
  .form-subscribe {
      width: 94%;
  }

  .form-subscribe > input {
  width: 69%;
}

.form-subscribe > button{
  width: 30%;
}

}
