<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/pdp.css">
  <link rel="stylesheet" href="css/media-queries-pdp.css">
  <link rel="stylesheet" href="css/owl.carousel.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/common/lodash.js"></script>
</head>

<body>
  <div id="wrapper">
    <header>
      <a id="logo" href="index.html">
        <div id="logo-text">SH</div>
      </a>
      <div id="basket">
        <a href="shop-cart.html"><img class="basket-img-small" src="img/icon_basket_small.png" alt="icon_search"><img class="basket-img-big" src="img/icon_basket_big.png" alt="icon_search"><span> Basket (<span class="numb-items"></span>)</span>
        </a>
      </div>
      <form action="" class="form-search">
        <button class="search-butt" type="button"><img class="icon-search" src="img/icon_search.png" alt="icon_search"></button>
        <input class="input-search" type="search" placeholder=" Search something...">
      </form>
      <nav id="nav-menu">
        <ul>
          <li><a href="category-all.html">Woman</a></li>
          <li><a href="category-all.html">Men</a></li>
          <li><a href="category-all.html">Kids</a></li>
          <li><a href="category-all.html">Coming Soon</a></li>
        </ul>
      </nav>
      <hr class="hr-top">
      <hr class="hr-top-2">
    </header>

    <div class="breadcrumbs"><a href="index.html">Home / </a></div>

    <section class="product" id="product-view">
    </section>
    <section class="item-description" id="description">
    </section>
    <hr class="hr-bottom">

    <div class="owl-carousel">
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
      <div class="item"><img src="img/slide.png" alt="Owl Image"></div>
    </div>

    <footer>
      <div class="footer-div">
        <ul class="collection">
          <li class="headings">COLLECTION</li>
          <li><a href="">Woman</a></li>
          <li><a href="">Men</a></li>
          <li><a href="">Kids</a></li>
          <li><a href="">Coming Soon</a></li>
        </ul>
        <ul class="site">
          <li class="headings">SITE</li>
          <li><a href="">Terms of Service</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Copyright Policy</a></li>
          <li><a href="">Press Kit</a></li>
          <li><a href="">Support</a></li>
        </ul>
        <ul class="shop">
          <li class="headings">SHOP</li>
          <li><a href="">About Us</a></li>
          <li><a href="">Shipping Methods</a></li>
          <li><a href="">Career</a></li>
          <li><a href="">Contact</a></li>
        </ul>
        <ul class="social">
          <li class="headings">SOCIAL</li>
          <li>Shoper is made with love in Warsaw ,</li>
          <li>2014 &copy All rights reserved. EI Passion</li>
          <li class="icons">
            <a class="icon" href=""><img src="img/icon_twit.png" alt=""></a>
            <a class="icon" href=""><img src="img/icon_face.png" alt=""></a>
            <a class="icon" href=""><img src="img/icon_photo.png" alt=""></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
  <script src="js/common/jquery-2.2.0.min.js" charset="utf-8"></script>
  <script src="js/common/owl.carousel.min.js"></script>
  <script src="js/index.js"></script>
  <script src="js/pdp.js" charset="utf-8"></script>


  <script type="text/html" id="section-data">
    <div class="main_img"> <img id="main_picture" src=<%=data[5] %> ></div>
    <div class="div-img" id="small-images">
      <img class="small_img" src=<%=data[6] %> alt="">
      <img class="small_img" src=<%=data[8] %> alt="">
      <img class="small_img" src=<%=data[10] %> alt="">
    </div>
  </script>

  <script type="text/html" id="description-data">
    <h2><%= data[0] %></h2>
    <span class="article-number">Article number: <%= data[4] %></span>
    <br>
    <span class="price"><%= data[3] %> $</span>
    <br>
    <span class="description">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. <br>
Maecenas malesuada elit lectus felis, malesuada ultricies. </span>
    <br>
    <span class="size-numb">Size</span>
    <div class="size-div" id="sizeDiv">
      <button class="size">38</button>
      <button class="size">39</button>
      <button class="size">40</button>
      <button class="size">41</button>
      <button class="size">42</button>
    </div>
    <a href="shop-cart.html" id="add-to-card" class="orange-button">add to cart</a>
  </script>

  <script type="text/javascript">
    var item = localStorage.getItem("itemClicked"),
      gender = localStorage.getItem("gender"),
      db = JSON.parse(localStorage.getItem("db")),
      section = localStorage.getItem("sectionClicked"),
      obj = db[gender][section][item],
      data = _.values(obj),
      templateDesc = $("#description-data").html(),
      templateSec = $("#section-data").html(),
      prod = JSON.stringify(obj);
      localStorage.setItem("product", prod);

    $("#product-view").html(_.template(templateSec, data));
    $("#description").html(_.template(templateDesc, data));

  </script>
</body>

</html>
